<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= title %></title>
</head>

<body>
    <h1>Sign Up</h1>
    <% if(typeof data !== 'undefined') { %>
        <% for(let i = 0; i < data.msg.length; i ++){ %>
        <div class="errorBar">
            <span><%= data.msg[i] %></span>
            <span class="close_error_bar">&times;</span>
        </div>
        <% } %>
    <% } %>
    <form action="/handleReq" method="post" id="signUp" name="form">
        <div class="name">
            <label for="name_input">Name</label><br>
            <input type="text" name="name" id="name_input">
        </div>
        <div class="email">
            <label for="email_input">Email <small id="email_note">(We'll never share your email with anyone)</small></label><br>
            <input type="email" name="email" id="email_input" aria-describedby="email_note">
        </div>
        <div class="password">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required>
        </div>
        <input type="checkbox" name="auto_login" id="auto_login"> <label for="auto_login">Log Me In Automatically</label>
        <div class="buttons">
            <button type="reset">Clear</button>
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
    <script type="module" src="signUp.js"></script>
</body>
</html>